<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col col-lg-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="loginFormGroup">
            <mat-form-field>
              <input
                matInput
                placeholder="Username"
                formControlName="username"
                name="username"
                required
              />
            </mat-form-field>
            <br />
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                formControlName="password"
                name="password"
                required
                type="password"
              />
            </mat-form-field>
            <br />
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="login()"
            >
              Login
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
