<!-- About Section-->
<section style="background-color: rgb(21, 171, 121);" class="page-section text-white my-5 py-5 mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      About Us
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><mat-icon>star</mat-icon></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row justify-content-center">
      <div class="col-lg-4 ">
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto magnam officiis impedit itaque tempore eveniet, dolore quo praesentium voluptatem dignissimos quam facilis cum minus quis, repellat nihil ex temporibus maiores!
        </p>
      </div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4">
      <a
        class="btn btn-xl btn-outline-light px-4"
        href="#"
      >
        <mat-icon>email</mat-icon>
      </a>
    </div>
  </div>
</section>
