<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="lead text-warning">
        In this project you can eaither work with bootstrap
      </h1>
      <div class="alert alert-info">
        <div class="alert-body">
        <h1>Health</h1>

        </div>
          <div class="alert-footer">
          <button class="btn btn-outline-info">click</button>
        </div>
      </div>
      <div class="alert alert-danger">
        <h2>Health</h2>
        <div class="alert-footer">
          <button class="btn btn-outline-danger">click</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="col col-6">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>Or with Angular Material</mat-card-subtitle>
          <mat-card-title>Or both</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Feel free to use whatever you like</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
