<div class="container mt-4">
  <div class="row justify-content-center">
    <mat-form-field class="col col-8">
      <input [(ngModel)]="kword" matInput placeholder="Search" (keyup.enter)="searchVaccin()" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

<ng-container *ngIf="flag">
  <button
  class="ms-3"
  mat-fab
  color="primary"
  (click)="vaccineForm()"
>
  <mat-icon >add</mat-icon>
</button>
</ng-container>

  </div>
  <div class="row">
    <div class="col">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="observation">
            <th mat-header-cell *matHeaderCellDef>observation</th>
            <td mat-cell *matCellDef="let element">
              {{ element.observation }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
